.tech {
    width: 372px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.loading {
    width: 372px;
    display: flex;
    justify-content: right;
    color: #4D4D4D;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}
.input{
    padding: 12px;
}