.buttonsContainer {
    display: flex;
    gap: 10px;
    padding-top: 55px;
}
.buttonsContainer button{
    width: 84px;
    height: 30px;
}

.clock {
}

.watch {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

.watch strong {
    font-weight: 600;
}

.more {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 10px;
}