.item {
    border-bottom: 1px solid #e5e5e5;
    height: 48px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.item:last-of-type {
    border: none;
}

.users {
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
}

.buttonsContainer {
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 10px 0;
}

.container {
    width: 600px;
    padding-top: 48px;
}

.thead {
    /*width: 300px;*/
    height: 35px;
    background: #e5e5e5;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #000;
}

.nameCol {
    width: 300px;
    padding: 0 0 0 17px;
}
.ageCol {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #000;
}

.item .ageCol {
    padding: 0 17px 0 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #000;
}

.buttonsContainer button {
    width: 120px;
}