.spanBlock {
    width: 275px;
    display: flex;
    /*padding: 20px 0 25px;*/

}

.span {
    font-size: 16px;
    color: #0080ff;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input {
    width: 275px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;

    padding: 0 24px;
    font-size: 16px;
    color: #000;
}
.input:focus-visible {
    outline: 1px solid #d1d1d1;
}
button{
    border: none;
    font-size: 14px;
    cursor: pointer;
}
.pen {
}
